{{ define "main" }}
  <header>
    {{ if .Params.showBreadcrumbs | default (.Site.Params.list.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
  </header>
  {{ if .Content }}
    <section class="prose mt-0 flex max-w-full flex-col dark:prose-invert lg:flex-row">
      <div class="min-h-0 min-w-0 max-w-prose grow">{{ .Content | emojify }}</div>
    </section>
  {{ end }}
  {{ if .Pages }}
    {{ partial "cards-style.html" . }}
    <section class="proj-grid">
      {{ range .Pages.ByDate.Reverse }}
        {{ partial "proj-card.html" (dict
          "page" .
          "summary" .Summary
          "meta" (.Date.Format "2 Jan 2006")
        ) }}
      {{ end }}
    </section>
  {{ else }}
    <section class="prose mt-10 dark:prose-invert">
      <p class="border-t py-8"><em>No posts are linked to this project yet.</em></p>
    </section>
  {{ end }}
{{ end }}
